{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5" style="background-color: #b7e9f1;"> <!-- Warna latar belakang -->
                <div class="card-header" style="background-color: #007bff; color: #fff;"> <!-- Warna latar belakang dan teks header -->
                    <h1 class="card-title">Add New Product</h1>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary" style="background-color: #007bff;"> <!-- Warna tombol -->
                                Add Product
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
