<html>
<body style="background-color:powderblue;">
<head>
    <strong>
        <center>
            <big>
                <h1>
                    Inventory Gacor
                </h1>
            </big>
        </center>
    </strong>
</head>
<center>
    <img src="{{ random_image }}" alt="Gambar Acak" width="200" height="200">
</center>
<center>
    <b>
        <h2>
            <p>GACOR KANG!</p>
        </h2>
    </b>
</center>
<center>
    <b>
        <h2>
            <p>Nomor Hoki Anda {{ gacor }}</p>
        </h2>
    </b>
</center>
<center>
    <h5>
        <b>
            Nama:
        </b>
    </h5>
    <p>Wahyu Ridho Anggoro<p>
    <h5> 
        <b>
            Kelas:
        </b>
    </h5>
    <p>PBP D<p> 
</center>
</body>
</html>

    
